# PUBLIC
NEXT_PUBLIC_BASE_PATH=''
NEXT_PUBLIC_BASE_ASSET_PATH=''
NEXT_PUBLIC_SESSION_BALANCE_TRANSFER_ADDRESS='0x'
NEXT_PUBLIC_IPFS_CDN_URL='https://ipfs.io/ipfs/'
NEXT_PUBLIC_COMMUNITY_THEME_PRIMARY_COLOR='#9563D3'

# SERVER
APP_BASE_URL='https://app.citizenwallet.xyz/#/'
NATIVE_APP_DEEP_LINK='citizenwallet://app.citizenwallet.xyz'
IPFS_API_KEY=''
IPFS_API_SECRET=''