NEXT_PUBLIC_BASE_PATH=''
NEXT_PUBLIC_BASE_ASSET_PATH=''
APP_BASE_URL='https://app.citizenwallet.xyz/#/'
NATIVE_APP_DEEP_LINK='citizenwallet://app.citizenwallet.xyz'
SESSION_BALANCE_TRANSFER_ADDRESS='0x'